pyTelegramBotAPI
yt-dlp>=2024.04.09
google-api-python-client==2.130.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
python-telegram-bot>=21.0
yt-dlp
ffmpeg-python
browser-cookie3
edge-tts
gTTS
